@{
    Layout = "_Layout";
    ViewData["Title"] = "Добавить запись на стену";
}

<h1>Добавить запись</h1>
@using(Html.BeginForm("Add", "Post", FormMethod.Post))
{
    <div>
        <span>Заголовок</span>
        <input type="text" name="title" required>
    </div>

    <div>
        <span>Содержание</span>
        <textarea name="content" wrap="hard" required></textarea>
    </div>

    <button type="submit">Добавить</button>
}
