@{
    Layout = "_Layout";
    ViewData["Title"] = "RudeAnchor Social Network - Home Page";
}

<div class="spoiler-block">
    Some spoiler text
</div>

<div class="authorization-form">
    @using(Html.BeginForm("Index", "SignIn", FormMethod.Post))
    {
        <div>
            <label for="Email">
                <span>Email</span>
                <input type="text" name="Email" />
            </label>
        </div>
        
        <div>
            <label for="Password">
                <span>Пароль</span>
                <input type="password" name="Password" />
            </label>
        </div>

        <button type="submit">Авторизация</button>
    }
</div>

<div class="registration-form">
    @using (Html.BeginForm("Index", "SignUp", FormMethod.Get))
    {
        <div>
            <label for="FirstName">
                <span>Имя</span>
                <input type="text" name="FirstName" />
            </label>
        </div>

        <div>
            <label for="LastName">
                <span>Фамилия</span>
                <input type="text" name="LastName" />
            </label>
        </div>

        <div>
            <label for="BirthDate">
                <span>Дата рождения</span>
                <input type="date" name="BirthDate" />
            </label>
        </div>

        <button type="submit">Регистрация</button>
    }
</div>