@model RudeAnchorSN.LogicLayer.Models.UserModel;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Регистрация";
}

@section css {
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/signUp.css" />
}

<div class="form-container">
    @using (Html.BeginForm("Index", "SignUp", FormMethod.Post))
    {
        <div class="form-line">
            <div class="form-label">Имя</div>
            <input type="text" name="FirstName" value="@Model.FirstName" required />
        </div>

        <div class="form-line">
            <div class="form-label">Фамилия</div>
            <input type="text" name="LastName" value="@Model.LastName" required />
        </div>

        <div class="form-line">
            <div class="form-label">Email</div>
            <input type="email" name="Email" required />
        </div>

        <div class="form-line">
            <div class="form-label">Пароль</div>
            <input type="password" name="Password" required />
        </div>

        <input type="hidden" value="@Model.BirthDate" name="BirthDate" required />

        <div class="form-line">
            <div class="col-splitter">
                <button type="submit" style="margin-right: 10px;">Завершить регистрацию</button>
                <a asp-action="Index" asp-controller="Home" class="button secondary">Отмента</a>
            </div>
        </div>
    }

    @if (TempData["Error"] != null)
    {
        <div class="error-text registration-error">@TempData["Error"]</div>
    }
</div>