@font-face{
    font-family: "FontAwesomeRegular";
    src: url("../fonts/fa-regular-400.woff2") format('woff2');
}

@font-face {
    font-family: "FontAwesomeSolid";
    src: url("../fonts/fa-solid-900.woff2") format('woff2');
}

html, body{
    margin: 0px;
    padding: 0px;
    font-family: Tahoma;
    height: 100%;
}

html {
    background-color: #1e2a3c;
}

h1, h2 {
    color: #1e2a3c;
}

.white{
    color: white;
}

.breadcrumbs {
    position: relative;
    height: 30px;
}

.sign-out-button {
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 20px;
}

.sign-out-button:after {
    font: normal normal normal 14px / 1 FontAwesomeSolid;
    content: "\f2f5";
    font-size: 2rem;
    color: white;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
}

main {
    width: 1200px;
}

.error-text{
    color: red;
}

a {
    text-decoration: none;
    color: black;
}

a.button{
    display: inline-block;
}

button[type="submit"],
.button{
    border: none;
    color: white;
    background: #1e2a3c;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
}

.button.secondary{
    background-color: lightgray;
}

button[type="submit"]:hover,
.button:hover {
    background-color: #8dc593;
    cursor: pointer;
}

.plus-icon:after {
    font: normal normal normal 14px / 1 FontAwesomeSolid;
    content: "\f055";
    color: white;
    position: relative;
}

.arrow-left-icon.white:after {
    font: normal normal normal 14px / 1 FontAwesomeSolid;
    content: "\f04a";
    color: white;
    position: relative;
}

.round-corner-box {
    padding: 40px;
    background-color: #e9e9e9;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}

.heading {
    margin-top: 10px;
    padding: 10px 40px;
}

.profile-pic-fallback {
    width: 100%;
    height: 100%;
    text-align: center;
}

.profile-pic-fallback::after {
    font: normal normal normal 14px / 1 FontAwesomeRegular;
    content: "\f007";
    font-size: 5.4rem;
    color: lightgray;
    position: relative;
    top: 30%;
}

.col-splitter{
    display: flex;
}

.right {
    position: absolute;
    right: 40px;
    width: auto;
}

.user-picture-thumb {
    border-radius: 25px;
    overflow: hidden;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
}

.profile-pic-fallback-thumb {
    width: 100%;
    height: 100%;
    text-align: center;
}

.profile-pic-fallback-thumb::after {
    font: normal normal normal 14px / 1 FontAwesomeRegular;
    content: "\f007";
    font-size: 3rem;
    color: lightgray;
    position: relative;
}

.users-container > .user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.users-container .buttons {
    display: flex;
}

.users-container .buttons a {
    margin-left: 5px;
}

.breadcrumbs > .right {
    right: 0px;
}