@model RudeAnchorSN.LogicLayer.Models.UserPostViewModel

@{
    var ownPage = User?.Identity?.Name == Model.Author.Email;
}

<div class="post">
    <div class="post-title">
        <h3>@Model.Post.Title</h3>
    </div>
    <div class="post-content">@Model.Post.Content</div>
    <div class="post-date">
        <em>@Model.Post.DateCreated</em>
    </div>
    @if (ownPage)
    {
        <div class="post-button">
            <a asp-action="Edit" asp-controller="Post" asp-route-id="@Model.Post.Id" class="button secondary">Править</a>
        </div>
    }
</div>