@model RudeAnchorSN.LogicLayer.Models.UserModel

@{
    Layout = "_Layout";
    ViewData["Title"] = $"{Model.FirstName} {Model.LastName}";
}

@section css{
}

<div>
    <h1>
        @Model.FirstName @Model.LastName
    </h1>

    <div class="menu">
        <div id="profile-picture-placeholder" style="background-image: url(@Model.ProfilePicUrl)"></div>

        @{
            if (User.Identity.Name == Model.Email)
            {
                <div>
                    <a asp-action="Edit">
                        Редактировать профиль
                    </a>
                </div>
                <div>
                    <a>
                        Сообщения
                    </a>
                </div>
            }
        }
        <div>
            <a asp-action="Index" asp-controller="Friends">
                Друзья
            </a>
        </div>
    </div>

    <div class="wall">
        @if (User.Identity.Name == Model.Email)
        {
            <div class="add-post-button">
                <button>Добавить пост</button>
            </div>
        }
        
        <div class="posts">
            @foreach(var post in Model.Posts)
            {
                <partial name="_Post.cshtml" model="post"/>
            }
        </div>
    </div>
</div>